<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <property name="connection.pool_size">1</property>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/lrs</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <mapping resource="Actor.hbm.xml"></mapping>
        <mapping resource="Verb.hbm.xml"></mapping>
        <mapping resource="Statement.hbm.xml"></mapping>
        <mapping resource="Object.hbm.xml"></mapping>
        <mapping resource="Result.hbm.xml"></mapping>
        <mapping resource="Score.hbm.xml"></mapping>
        <mapping resource="Context.hbm.xml"></mapping>
        <mapping resource="ContextActivities.hbm.xml"></mapping>
         <mapping resource="Account.hbm.xml"></mapping>
         <mapping resource="ObjectDefinition.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>